.bg_image {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-repeat: repeat;
}

.menu-bar {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.light_box_bg {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 10;

    -fx-border-radius: 7;
    -fx-border-color: rgba(50, 50, 50, 0.75);
    -fx-border-width: 5;
}

.light_box_title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;

    -fx-background-color: rgba(100, 100, 100, 0.5);
}

.menu .context-menu {
    -fx-background-color: transparent;
}

.menu:hover, .menu:focused, .menu:selected, .menu:showing {
    -fx-background-color: rgba(125, 125, 125, 0.75);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.menu-item {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.menu-item:hover, .menu-item:focused {
    -fx-font-weight: bold;
    -fx-background-color: rgba(125, 125, 125, 0.75);
    -fx-cursor: hand;
}

.cmd_button {
    -fx-min-height: 75px;
    -fx-min-width: 75px;
    -fx-max-height: 75px;
    -fx-max-width: 75px;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-background-color: rgba(166, 166, 166, 0.5);

    -fx-font-weight: bold;
    -fx-font-family: Consolas, "Courier New", Arial;

    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}

.cmd_button_add:hover, .cmd_button:hover {
    -fx-cursor: hand;
    -fx-border-color: rgba(0, 0, 0, 0.75);
    -fx-border-width: 2px;
}

.cmd_button_add {
    -fx-min-height: 75px;
    -fx-min-width: 75px;

    -fx-background-radius: 5;
    -fx-border-radius: 5;

    -fx-background-color: rgba(166, 166, 166, 0.5);

    -fx-font-size: 45px;

    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}