.notification_style {
    -fx-background-color: rgba(70, 132, 145, 0.75);
    -fx-background-radius: 10;

    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-border-color: rgba(0, 0, 0, 0.6);

    -fx-font-size: 14px;
    -fx-font-family: Calibri, Arial, "Courier New";
}

.title {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-background-radius: 10 10 0 0;

    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: Calibri, Arial, "Courier New";
}